/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Quintessential", cursive;
    --text-color: #283618;
    /*dark green */
    --primary-color: #fefae0;
    /* light yellow */
    --secondary-color: #606c38;
    /*olive green */
    --contrast-color: #bc6c25;
    /* dark orange brown */
    --light-contrast-color: #e4b681;
    /* lighter orange brown */
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 5%;
}

header {
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-shadow: 1px 1px var(--light-contrast-color);
    margin-bottom: 0.5rem;
}

h3,
h4 {
    font-family: var(--secondary-font);
    color: var(--text-color);
    text-shadow: 1px 1px var(--light-contrast-color);
}

a {
    text-decoration: none;
    color: var(--text-color)
}

a:hover {
    color: var(--secondary-color);

}


/* Navbar */
.navbar {
    position: sticky;
    overflow: visible;
    z-index: 100;
    top: 0;
    background: var(--light-contrast-color);
    padding: 0;
}

.navbar-toggler .button,
.navbar-toggler-icon,
.nav-item {
    font-family: var(--primary-font);
    color: var(--text-color);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--text-color);
    font-weight: bolder;
}


/* header - hero */

#hero {
    background: url(../images/hero-sm1.webp) no-repeat center center/cover;
    background-color: var(--secondary-color);
    color: white;
    min-height: 400px;
    width: 100%;
}

#hero .display-3 {
    display: flex;
    align-items: flex-end;
    height: 40vh;
    padding-left: 2rem;
}

#hero .display-6 {
    display: flex;
    align-items: flex-end;
    height: 5vh;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

/* introduction text main-container */

main h2 {
    font-family: var(--secondary-font);
    color: var(--text-color);
    text-shadow: 1px 1px var(--light-contrast-color);
}

.text-intro .padding,
.textbox-identification {
    padding: 1rem 2rem 0;
    text-align: justify;
}

/*plants catalog section*/
#plant-catalog {
    text-align: center;
    margin-bottom: 20px;
}

#plant-catalog .card {
    height: auto;
    padding: 0.5rem;
    background-color: var(--primary-color);
}

#plant-catalog .card:hover {
    height: auto;
    padding: 2rem;
    background-color: var(--contrast-color);
}

#plant-catalog .card img {
    height: auto;
    width: 100%;
    padding: 0.1rem;
    border-radius: 0;
    background-color: var(--contrast-color);
}

#plant-catalog .card h3 {
    text-transform: capitalize;
    text-shadow: 1px 1px var(--light-contrast-color);
}

#plant-catalog .card-text {
    padding: 0.5rem 0;
}

#plant-catalog a {
    text-decoration: none;
}

/*change order plants to alphabetical*/

#chickweed {
    order: 3;
}

#dandelion {
    order: 4;
}

#stingy-nettle {
    order: 19;
}

#fern-heads {
    order: 6;
}

#wild-garlic {
    order: 23;
}

#purslane {
    order: 16;
}

/* Footer */

#footer {
    bottom: 0;
    background-color: var(--light-contrast-color);
    margin-top: auto;
    padding-left: 3rem;
}

footer .copyright-line {
    padding-top: 2rem;
    font-size: 90%;
}

/* Footer newsletter form */

#footer h4 {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#footer-form {
    text-align: left;
    color: var(--text-color);
    font-size: medium;
}

#footer-form .form-check {
    padding: 1.5rem 2rem;
}

#footer-form .signup-button {
    text-align: center;
    padding-top: 2rem;
}

#footer-form .btn-primary {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-color: var(--light-contrast-color);
}

#footer-form .btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}


/* plant page */

.textbox-identification,
#recipes ul,
#recipes ol {
    text-align: justify;
}

.textbox-identification h3 {
    text-align: center;
}

.textbox-identification .imagebox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 95%
}

.textbox-identification .images {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.textbox-identification img,
.recipe-box-image {
    width: 100%;
    height: auto;
    margin: 0 20px 20px 20px;
    border: 2px solid var(--contrast-color);
}

.recipe-box-image {
    width: 50%;
    height: auto;
}

#recipe-start {
    font-size: 300%;
    margin: 1.5rem 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.recipe-box-image {
    display: block;
    width: 90%;
}


.recipe-box ul li {
    list-style-type: none;
}

.recipe-box .lining {
    padding: 0.5rem;

}

.recipe-box h2 {
    text-align: center;
}

.recipe {
    border: 1px solid var(--contrast-color);
}

.recipe ul {
    width: 98%;
}

.recipe h3 {
    margin-left: 10px;
}

.recipe ol {
    display: block;
    margin: auto;
    width: 96%;
    padding-right: 1rem;
    text-align: justify;
}



.recipe hr {
    display: block;
    margin: auto;
    padding: 1rem 0;
    width: 90%;
    border-top: 2px solid var(--light-contrast-color);
}

/* Contact Form */

#contact {
    text-align: left;
    font-size: medium;
}

#contact span {
    font-size: small;
}
#contact .form-check {
    padding: 0.5rem 0.5rem;
}

#contact .form-textarea {
    padding-bottom: 1rem;
}

#contact .signup-button {
    text-align: center;
    padding-top: 2rem;
}

#contact .btn-primary,
.signup {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-color: var(--light-contrast-color);
}

#contact .btn-primary:hover,
.signup:hover {
    background-color: var(--primary-color);
    color: var(--contrast-color);
    border-color: var(--contrast-color);
}

#success .display-3,
.oops-container .display-3 {
    color: var(--text-color);
}

#success .confirmation-text {
    font-weight: bold;
}

#success {
    margin-top: 80px;
}

/* 404-page */
.oops-container {
    margin-top: 20px;
    text-align: center;
    font-size: 150%;
    color: var(--text-color);
}

.oops-img {
    width: 60%;
    max-width: 250px;
    height: auto;
    margin: 20px;
}

.oops-container p {
    margin: 20px 15% 0 15%;
}

.oops-container a {
    color: var(--contrast-color);
}


/* size adaption */

@media only screen and (min-width: 768px) {
    #hero {
        background: url(../images/hero.webp) no-repeat center center/cover;
    }

    .textbox-identification .images {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .textbox-identification img {
        width: 50%;
        height: auto;
    }

    footer .copyright-line {
        padding-top: 2rem;
        font-size: 100%;
    }
}

@media only screen and (min-width: 992px) {
    #plant-catalog .card {
        height: 480px;
    }

    .recipe-box h2 {
        height: 85px;
    }

    .recipe-box {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .recipe {
        display: flex;
        flex-direction: column;
        text-align: justify;
        width: 50%;
    }



    footer .copyright-line {
        padding-top: 0.5rem;
    }

    #footer-form .signup-button {
        text-align: start;
        padding: 40px 0 0 8px;
    }

    #contact {
        width: 80%;
        justify-content: center;
    }
}

@media only screen and (min-width: 1080px) {
    #plant-catalog .card {
        height: auto;
    }

    #contact main {
        width: 60%;
        justify-content: center;
    }
}