/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Quintessential", cursive;
    --text-color: #283618; /*dark green */
    --primary-color: #fefae0; /* light yellow */
    --secondary-color: #606c38; /*olive green */
    --contrast-color: #bc6c25; /* dark orange brown */
    --light-contrast-color: #e4b681; /* lighter orange brown */
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    padding: 0 5% 10% 5%;
    text-align: center;
}

h1,
h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-shadow: 1px 1px var(--light-contrast-color);
    margin-bottom: 0.5rem;
}

h3 {
    font-family: var(--secondary-font);
    color: var(--text-color);
    text-shadow: 1px 1px var(--light-contrast-color);
}

a {
    color: var(--secondary-color);
    text-decoration:none;
}
/* Navbar */
.navbar {
    background: var(--light-contrast-color);
}
.navbar-toggler .button,
.navbar-toggler-icon,
.nav-item {
    font-family: var(--primary-font);
    color: var(--text-color);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--secondary-color);
}


/* header - hero */

#hero {
    background: url(../images/hero.webp) no-repeat center center/cover;
    background-color: var(--secondary-color);
    color: white;
    min-height: 600px;
    width:100%;
}

#hero .display-3 {
    display: flex;
    align-items: flex-end;
    height: 40vh;
    padding-left: 2rem;
}

#hero .display-6 {
    display: flex;
    align-items: flex-end;
    height: 5vh;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

/* introduction text main-container */

main h2 {
    font-family: var(--secondary-font);
    color: var(--text-color);
    text-shadow: 1px 1px var(--light-contrast-color);
}
.text-intro .padding,
.textbox-identification {
    padding: 1rem 2rem 0;
    
}

/*plants catalog section*/
#plant-catalog {
    text-align: center;
}

#plant-catalog .card {
    height: auto;
    padding: 0.5rem;
    background-color: var(--primary-color);
}

#plant-catalog .card:hover {
    height: auto;
    padding: 2rem;
    background-color: var(--contrast-color);
}
#plant-catalog .card img {
    height:auto;
    width: 100%;
    padding: 0.2rem;
    border-radius:0;
    background-color: var(--secondary-color);
}

#plant-catalog .card h3 {
    text-transform: capitalize;
    text-shadow: 1px 1px var(--light-contrast-color);
}

#plant-catalog .card-text {
    padding: 0.5rem 0;
}

#plant-catalog a {
    text-decoration: none;
}

/*change order plants to alphabetical*/

#chickweed {
    order: 3;
}

#dandelion {
    order: 4;
}

#stingy-nettle {
    order: 19;
}

#fern-heads {
    order: 6;
}

#wild-garlic {
    order: 23;
}

#purslane {
    order: 16;
}

/* Footer */

#footer {
    background-color: var(--light-contrast-color);
    Margin-top: 4rem;
    padding-left: 3rem;
}

#footer-form {
    text-align: left;
    color: var(--text-color);
    font-size:medium;
}

#footer-form .form-label {
    text-align: left;
}

#footer-form .form-check {
    padding: 1.5rem 2rem;
}

#footer-form .signup-button {
    text-align:center;
    padding-top: 2rem;
}

#footer-form .btn-primary {
    background-color: var(--contrast-color);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
}

footer .copyright-line {
    padding-top: 2rem;
}


/*css 404-page */
.oops-container {
    margin-top: 20px;
    text-align: center;
}

.oops-img {
    width: 60%;
    max-width: 250px;
    height: auto;
    margin: 20px;
}

.oops-container p {
    margin:20px 15% 0 15%;
}

@media only screen and (min-width: 992px) {
    footer .copyright-line {
        padding-top: 0;
    }

    #footer-form .signup-button {
        text-align: start;
        padding-top: 2rem 0 0 4rem;
    }
    
    
}